.blog-herotext {
    padding: 55px 20px;
    margin: 65px 0;
    border: 1px solid $t-color;
    text-align: center;

    h2 {
        font-family: $font-alt;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.blog-slider {
    margin: 70px 0;
    text-align: center;

    p {
        font-family: $font-common;
        font-size: 12px;
        margin-bottom: 2px;

        strong {
            font-weight: 600;
        }
    }

    &-img {
        height: 440px;
        margin-bottom: 15px;

        img {
            @include imgfit;
        }
    }
}