.terms {
    .blog-content--text {
        margin-top: 75px;

        h4,
        p {
            margin-bottom: 40px;
        }

        h4 {
            text-transform: uppercase;
        }

        p {
            font-size: 18px;
            line-height: 28px;
        }
    }
}