.blog-content {
    h1 {
        font-family: $font-title;
        font-size: 46px;
        line-height: 48px;
        margin-bottom: 25px;
    }

    h2 {
        font-family: $font-alt;
        font-size: 12px;
        line-height: 21px;
        margin-bottom: 30px;

        @media (max-width: 767px) {
            margin-bottom: 15px;
        }

        a {
            border-bottom: 2px solid #000;

            &:hover {
                border-bottom-color: $t-color;
            }
        }
    }

    h3 {
        font-family: $font-common;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 25px;
    }

    p {
        font-size: 18px;
    }

    &--text {
        padding: 0 35px;
    }

    &--copy {
        display: inline-block;
        color: $r-color;
        border-bottom: 1px solid $r-color;
        margin-bottom: 30px;
    }

    &--notice {
        max-width: 650px;
        @include margin-auto;
        margin-bottom: 70px;

        p {
            font-family: $font-title;
            font-size: 22px;
            margin-bottom: 25px;
        }

        span {
            font-family: $font-alt;
            font-size: 12px;
        }
    }

    &--spacer {
        display: block;
        width: 100%;
        max-width: 660px;
        border-top: 1px solid $b-color;
        margin: 60px auto;

        @media (max-width: 767px) {
            margin: 30px auto;
        }
    }

    .blog-content--text-title .blog-content--spacer {
        border-top-color: rgba(#000, .1);
    }

    &--heroimg {
        width: 100%;
        height: 677px;
        margin-bottom: 58px;

        @media (max-width: 1200px) {
            height: 500px;
        }

        @media (max-width: 991px) {
            height: 350px;
        }

        @media (max-width: 767px) {
            height: 465px;
            margin-bottom: 35px;
        }

        img {
            @include imgfit;
        }
    }

    &--listnum {
        padding-left: 30px;
        list-style-type: none;

        li {
            margin-bottom: 50px;

            span {
                font-family: $font-alt;
                font-size: 12px;
                display: block;
                margin-bottom: 30px;
            }

            p {}
        }
    }

    &--img {
        width: 100%;
        max-width: 815px;
        height: 540px;
        margin: 50px auto;

        img {
            @include imgfit;
        }
    }

    &--list {
        list-style-type: none;
        margin-bottom: 40px;

        li {
            margin-bottom: 30px;

            &::before {
                content: "∙";
                font-size: 120%;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }

    &--listsimple {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 95px;

        li {
            color: #0a0000;
            font-size: 18px;
            margin-bottom: 35px;
        }
    }

    &--size {
        text-align: center;

        .row {
            margin-left: -20px;
            margin-right: -20px;
        }

        [class^='col-'] {
            margin-bottom: 40px;
        }

        &-img {
            width: 100%;
            max-width: 255px;
            height: 255px;
            @include margin-auto;
            margin-bottom: 10px;

            img {
                @include imgfit;
            }
        }

        p {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 0;
        }
    }

    &--images {
        margin: 110px 0 85px;
        max-width: 708px;
        @include margin-auto;

        [class^="col-"] {
            padding: 15px;
        }

        &-item {
            width: 216px;
            height: 216px;
            max-width: 100%;
            @include margin-auto;

            img {
                @include imgfit;
            }
        }
    }

    table {
        width: 100%;
        margin-bottom: 40px;
        border: 1px solid $t-color;

        tr:not(:last-child) {
            border-bottom: 1px solid $t-color;
        }

        td:not(:last-child) {
            border-right: 1px solid $t-color;
        }

        td {
            font-family: $font-alt;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            padding: 14px;
        }
    }
}