@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'modena';
    src: url('../../assets/font/modena/ModenaSans-Regular.ttf');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'jenna-jenkins';
    src: url('../../assets/font/jenna-jenkins/JennaJenkins.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'palanquin';
    src: url('../../assets/font/palanquin/palanquin-regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'acta-display';
    src: url("../../assets/font/acta-display/b11372f1-48b9-4260-a8f5-e96dbda91adb.eot?#iefix");
    src: url("../../assets/font/acta-display/b11372f1-48b9-4260-a8f5-e96dbda91adb.eot?#iefix") format("eot"), url("../../assets/font/acta-display/3125ff94-381f-4a4f-91de-469aa053e0cf.woff2") format("woff2"), url("../../assets/font/acta-display/69ba0f59-7125-4e6d-be3a-dfdf64999bb2.woff") format("woff"), url("../../assets/font/acta-display/2b85a300-eb44-4f5c-9f97-7580ef589c42.ttf") format("truetype");
}

@import url(//db.onlinewebfonts.com/c/4155571407c419f8dacc44846fbe2e79?family=Acta+Display);

@font-face {
    font-family: "Acta Display";
    src: url("//db.onlinewebfonts.com/t/4155571407c419f8dacc44846fbe2e79.eot");
    src: url("//db.onlinewebfonts.com/t/4155571407c419f8dacc44846fbe2e79.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4155571407c419f8dacc44846fbe2e79.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4155571407c419f8dacc44846fbe2e79.woff") format("woff"), url("//db.onlinewebfonts.com/t/4155571407c419f8dacc44846fbe2e79.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4155571407c419f8dacc44846fbe2e79.svg#Acta Display") format("svg");
}